*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
eclipse/
.idea/
gradle/
build.gradle
forge-1.7.10-10.13.2.1235-changelog.txt
forge.iml
gradlew
gradlew.bat
MinecraftForge-Credits.txt
MinecraftForge-License.txt
.gradle/
CREDITS-fml.txt
LICENSE-fml.txt
README.txt
